# Supabase Server Side configuration (e.g. for build/upload scripts)
SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_SERVICE_ROLE=YOUR_SUPABASE_SERVICE_ROLE

# Supabase Client Side configuration (Vite prefix)
VITE_SUPABASE_URL=YOUR_SUPABASE_URL
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
